{% extends "base.html" %}

{% block content %}

<h1>Exhibits List</h1>

    <div class="container marketing">

      <!-- Columns of text -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/AfricanGrass.jpg" alt="African Grasslands" width="140" height="140">
          <h2>African Grasslands</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/11/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/Butterfly.jpg" alt="Insect Pavilion" width="140" height="140">
          <h2>Butterfly and Insect Pavilion</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/2/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/CatComplex.jpg" alt="Cat Complex" width="140" height="140">
          <h2>Cat Complex</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/1/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/DurhamBearCanyon.jpg" alt="Durham Family Bear Canyon" width="140" height="140">
          <h2>Durham Family Bear Canyon</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/3/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/ExpeditionMad.jpg" alt="Expedition Madagascar" width="140" height="140">
          <h2>Expedition Madagascar</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/4/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/GorillaValley.jpg" alt="Hubbard Gorilla Valley" width="140" height="140">
          <h2>Hubbard Gorilla Valley</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/5/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/OrangeForest.jpg" alt="Hubbard Orangutan Forest" width="140" height="140">
          <h2>Hubbard Orangutan Forest</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/6/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/InsideDome.jpg" alt="Desert Dome" width="140" height="140">
          <h2>Kingdoms of the Night/Desert Dome</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/7/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/InsideJungle.jpg" alt="Lied Jungle" width="140" height="140">
          <h2>Lied Jungle</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/8/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/WildKingdom.jpg" alt="Mutual of Omaha's Wild Kingdom" width="140" height="140">
          <h2>Mutual of Omaha's Wild Kingdom</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/9/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/images/Turtle.jpg" alt="Scott Aquarium" width="140" height="140">
          <h2>Scott Aquarium</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="/exhibits/10/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<!--
<ul>{% for object in exhibits %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
</ul>
//-->
{% endblock %}