{% extends "base.html" %} {% block content %}
<h1>A Guide to the Henry Doorly Zoo</h1>

<div id="zoo_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="static/images/ZooSign.jpg" alt="Henry Doorly Zoo">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="static/images/DesertDome.jpg" alt="Desert Dome">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="static/images/LiedJungle.jpg" alt="Lied Jungle">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="static/images/Aquarium.jpg" alt="Scott Aquarium">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#zoo_carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#zoo_carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="static/images/ScottSign.jpg" alt="Scott Aquarium Sign" width="140" height="140">
          <h2>Exhibits</h2>
          <p>Details about each of Henry Doorly's major exhibits.</p>
          <p><a class="btn btn-secondary" href="/exhibits/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="static/images/calendar.jpg" alt="Today's Schedule" width="140" height="140">
          <h2>Schedule</h2>
          <p>Check today's itinerary for programs and events being held at the zoo.</p>
          <p><a class="btn btn-secondary" href="/schedule/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


{% endblock %}